body{
    background-color: rgb(38, 36, 36) ;
    min-width: 650px;
}

.menuText{
    font-size: 1.2rem;
}
/*
<div class="container-half bg-dark">
            
                    </div>
                    <div class="container-half bg-primary">
                        
                    </div>
*/
/*<!-- filler (kitöltő, eskü nem ChatGPT írta csak herótom van a magyar nyelvtől :))-->*/

.apad{
    border: 5%;
}
.full-height-container {
    height: 100vh;
}
#powerless {
    font-size: 1.5rem;
}

html, body {
    height: 100%;
    margin: 0;
}

.container-full {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container-half {
    flex: 1;
}
nav{
    height: 4rem;
}

.nav-pills .nav-link.active{
    background-color: rgb(0, 35, 111);
    color: rgb(255, 255, 255);
    
}

#nav-color {
    background-color: rgb(30, 30, 30);
}

.nav-link {
    color: rgb(255, 255, 255);
}

.white {
    color: azure;
}

.whiteish {
    color: rgb(129, 219, 219);
}

a {
    text-decoration: none;
}

#karakter {
    max-height: 400px;
}

/*
.divbg{
    
    background-image: url("../media/Bg.Placeholder.png");
    background-size: cover;
    
}

<nav class="navbar navbar-expand-sm justify-content-center navbar-dark">
        <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">Option 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Option 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Option 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Option 4</a>
        </li>
        </ul>
    </nav>
*/